[project]
	description = just a tst
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sooraz
[access "refs/for/refs/*"]
	read = group user/sooraz
	push = group user/sooraz
	label-Code-Review = -2..+2 group user/sooraz
	label-Verified = -1..+1 group user/sooraz
	rebase = group user/sooraz
	removeReviewer = group user/sooraz
	submit = group user/sooraz
[access "refs/heads/*"]
	read = group user/sooraz
	create = group user/sooraz
	push = +force group user/sooraz
	pushMerge = group user/sooraz
[access "refs/tags/*"]
	push = group user/sooraz
	push = +force group user/sooraz
